@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
* {
  /* text-transform: lowercase; */
}

body:hover  .trailer {
  opacity: 1;
}
body::-webkit-scrollbar {
  display: none;
}
.scrollbar-track { display: none !important }